$lightGrey: hsl(212, 45%, 89%);
$white: hsl(0, 0%, 100%);
$greyishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

body{
    background-color: $lightGrey;
    align-content: center;
}

#centre-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background-color: $white;
    min-height: 495px;
    border-radius: 25px;
    text-align: center;
    font-family: "Outfit", sans-serif;

    h1{
        margin: 10px 30px auto 30px;
        font-weight: 700; 
        font-size: 16pt;
        color: $darkBlue;
    }
    p{
        margin: 15px 30px auto 30px;
        font-weight: 400; 
        font-size: 12pt;
        color: $greyishBlue;
    }
}



#qr-code{
    max-width: 90%;
    margin: 15px;
    border-radius: 15px;
}

.attribution{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 8px;
    font-family: Arial, sans-serif;
}